$dark: rgb(21, 32, 43);
$light: snow;
// $light: rgb(255, 255, 240);

.light{
    --primary: rgb(255, 250, 250);
    --secondary: rgb(21, 32, 43);
    --topbarbg: rgba(255, 250, 250, .5)
}
.dark{
    --primary: rgb(21, 32, 43);
    --secondary: rgb(255, 250, 250);
    --topbarbg: rgba(21, 32, 43, .5)
}

$primary: var(--primary);
$secondary: var(--secondary);
