$dark: rgb(21, 32, 43);
$light: snow;
// $light: rgb(255, 255, 240);

.light{
    --primary: snow;
    --secondary: rgb(21, 32, 43)
}
.dark{
    --primary: rgb(21, 32, 43);
    --secondary: snow
}

$primary: var(--primary);
$secondary: var(--secondary)