@use "./colors" as *;

$padding: 10px;

.post{
    border-top: 1px solid grey;
    padding: $padding;

    .postOptions{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        border-top: 1px solid rgba(128, 128, 128, .3);
        padding-top: $padding;
        margin-top: $padding;
        .date{
            // align-self: start;
            position: absolute;
            left: $padding;
            color: gray;
        }

        button{
            color: $secondary
        }
    }

    .postContent{
        word-break: break-word;
        display: grid;
        grid-template-columns: 50px 1fr;
        padding-right: $padding;

        .postAvatar{
            grid-row: 1/span 4;

        }

        strong, span, p{
            margin-left: $padding
        }
        p{
            margin-bottom: 0;
            // font-size: 30px;
        }
        span{
            color: grey
        }
    }
}

.likes{
    &:hover{
        color: red
    }
}