@use "./colors" as *;

#avatar{
    position: absolute;
    translate: 0 -50%;
    left: 30px;
    box-shadow: 0 0 0px 5px $dark;
    z-index: 1;
    background-color: $dark;
}

#editDiv{
    height: 75px;
    position: relative;
}

#edit{
    position: absolute;
    right: 30px;
    top: 50%;
    translate: 0 -50%;
}

#infoDiv{
    padding: 20px;
    border-bottom: 1px solid rgb($light, .3);

    strong{
        font-size: 25px;
    }
    span{
        color: grey
    }
}

//TODO: chujstwo nie działa
.light{
    background-color: red;
     & :global #avatar{
        box-shadow: 0 0 0px 5px $light !important;
        background-color: $light !important;
    }
    & #infoDiv{
        border-bottom: 1px solid red !important;
    }
   & #edit{
        background-color: yellow !important;
    }
}