@use "./colors" as *;

$brp: 370px;

#banner{
    width: 100%;
    // height: 250px
    aspect-ratio: 5/2;
}

#avatar{
    position: absolute;
    translate: 0 -50%;
    left: 30px;
    box-shadow: 0 0 0px 2px $secondary;
    z-index: 1;
    background-color: $dark;
    width: 150px;
    height: 150px;
    transition: box-shadow .5s;

    @media(max-width: 500px){
    width: 100px;
    height: 100px;
    }
}

#editDiv{
    height: 75px;
    position: relative;
}

#edit{
    position: absolute;
    right: 30px;
    top: 50%;
    translate: 0 -50%;

    @media(max-width: $brp){
        width: 135px;
        height: 30px;
        font-size: .6em;
        right: 20px;
        }
}

#chips{
    float: right;
    width: fit-content;
    margin-right: 30px;
    margin-top: 10px;
    translate: 0 -50%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    * {
        width: fit-content
    }

    @media(max-width: $brp){
        width: 100%;
        margin-right: 0;
        justify-content: center;
        gap: 10px
        }
}

#infoDiv{
    padding-inline: 20px;
    margin-top: 10px;

    *{
        word-break: break-word;
        display: block
    }
    strong{
        font-size: 25px;
        @media(max-width: $brp){
                margin-top: 45px
            }
    }

    span{
        color: grey
    }
    
    p{
        font-size: 20px;
    }
}
