.cards{
    margin: auto;
    background-color: var(--primary2);
    border-radius: 15px;
    transition:  background-color .5s;
    max-width: 500px;
}

.header{
    background-color: var(--primary2) !important;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    transition: color .5s, background-color .5s

}

.recInfo{
    // background-color: red;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;

    b{
        text-align: center;
        line-height: 18px;
    }

    span{
        text-align: center;
        line-height: 15px;
        opacity: .8
    }
}

#p{
    // background-color: red;
    text-align: center;
    opacity: .8

}